# Игнорируем всё содержимое
/*

# Разрешаем папки (ВАЖНО: без этого Git не увидит файлы внутри)
!/boot/
!/src/
!/images/

# Разрешаем конкретные файлы
!/build.sh
!/Terminus_OS.iso
!/README.md
!.gitignore

# Снова игнорируем мусор внутри разрешенных папок
/src/**/*.o
/boot/**/*.o
**/*.zip
**/.*.swp