# Игнорируем всё
/*

# Разрешаем только нужные папки и файлы
!/boot/
!/src/
!/build.sh
!/Terminus_OS.iso
!.gitignore

# Игнорируем временные файлы внутри разрешенных папок (если нужно)
**/.*.swp
**/*.o
**/*.zip
