# Игнорируем всё
/*

# Разрешаем только нужные папки и файлы
!/boot/
!/src/
!./images/
!/build.sh
!/Terminus_OS.iso
!.gitignore
!./README.md

# Игнорируем временные файлы внутри разрешенных папок (если нужно)
**/.*.swp
**/*.o
**/*.zip
